/*****

Cambios de estilos a los elementos
del HTML

*****/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #8400ff;
}
input {
    padding: 8px;
    width: 200px;
    margin-top: 10px;
}
button {
    padding: 8px 12px;
    margin-left: 5px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #949494;
}
caption {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}
th {
    background-color: #e2e2e2;
}

/*****

Cambios de estilo a las clases de
ciertos elementos.

*****/
.formContainer {
    padding: 20px;
}
.tableContainer {
    margin: 20px;
}